.popup {
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  background-size: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
