.page {
  font-family: Inter, arial, sans-serif;
  color: #ffffff;
  margin: 0 auto;
  max-width: 880px;
  background-color: #000000;
}
.name-input-error {
  margin-left: 36px;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  display: none;
}

.link-input-error {
  margin-left: 36px;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  display: none;
}
.url-input-error {
  margin-left: 36px;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  display: none;
}
.form__input-error_active {
  display: block;
}
.description-input-error {
  color: #ff0000;
  margin-left: 36px;
  font-size: 12px;
  line-height: 15px;
}
