.popup__name {
  color: black;
  margin: 54px 0 0 36px;
  border: 0;
  min-width: 358px;

  border-bottom: solid ;
}
@media screen and (max-width: 620px) {  
  .popup__name { 
  margin: 54px 0 0 22px;
  min-width: 238px;}
}