.profile__text {
  grid-template-areas: 
  "name  edit"
  "discription .";
  display: grid;
  margin-left: 28px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

}
@media screen and (max-width: 620px) {
  .profile__text {
    margin: auto;
  }
}
