.profile__text {
  margin-left: 28px;
  flex-direction: column;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media screen and (max-width: 620px) {
  .profile__text {
    margin: auto;
  }
}
