.popup__submit-button {
  color: white;
  background-color: black;
  min-width: 358px;
  margin-top: 60px;
  min-height: 46px;
  margin-left: 35px;
  cursor: pointer;
  border: 0;
}

.popup__submit-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 620px) {
  .popup__submit-button {
    min-width: 238px;
    margin-top: 45px;
    min-height: 46px;
    margin-left: 22px;
  }
}